
body {
  background: url(back.jpg);
}
.Telegram, .LOLZTEAM{
display: inline-block;
margin: 0 10px;
margin-top: 20px;
width: 200px;
height: 40px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  height: 65px;
  line-height: 65px;
  border-radius: 65px;
  margin: 60px 750px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff66cc;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #ff9999;
  box-shadow: 0 15px 20px #ff66cc;
  color: white;
  transform: translateY(-7px);
}
.floating-button1 {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  height: 65px;
  line-height: 65px;
  border-radius: 65px;
  margin: 60px 770px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff66cc;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button1:hover {
  background: #ff9999;
  box-shadow: 0 15px 20px #ff66cc;
  color: white;
  transform: translateY(-7px);
}
